.header {
  padding-top: 1rem;
  @media screen and (max-width: 576px) {
    padding-left: 30px;
  }
}

.hero {
  padding: 6.035rem 0 7.315rem;
  margin-bottom: -3.81rem;
}

.prices {
  padding-bottom: 4.5rem;
}

.faq-section {
  padding-bottom: 10rem;
  padding-top: 7rem;
  background-color: #070A0E;
}
